
.nav {
  background-color: transparent;
  white-space: nowrap ;
  display:flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  position: fixed;
  transition: background-color 0.3s ease;
  padding-left: 15px;
} 
.nav2 {
  margin-left: -2000px;
  white-space: nowrap ;
  display:flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.3s ease;
}
.nav2.scrolled {
  background-color: #4f474e; /* Change this color to your desired color */
}
.nav.scrolled {
  background-color: #4f474e; /* Change this color to your desired color */
}


.active, .nav-item:hover {
  border-bottom: 5px solid #ffffff;
  color: #ffffff;
}

.logo{

  display: flex;
  align-items: center;
  width: 207px;
  background-color: transparent;
  justify-content: space-between;
}
.navbar,.navbar2,.navbar3,.navbar4,.navbar5,.navbar6,.navbar7,.navbar8{
  background-color: transparent;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: end;
  width: 100%;
  padding-right: 20px;
}
.navbar > li,.navbar2 > li,.navbar3 > li,.navbar4 > li,.navbar5 > li,.navbar6 > li,.navbar7 > li,.navbar8 > li {
  float: left;
}


@media only screen and (min-width: 1700px){
.navbar2 {
  display: none;
}
.navbar3 {
  display: none;
}
.navbar4 {
  display: none;
}
.navbar5 {
  display: none;
}
.navbar6 {
  display: none;
}
.navbar7 {
  display: none;
}
.navbar8 {
  display: none;
}
}
@media only screen and (min-width: 1540px)and (max-width: 1760px){
  .navbar {
    display: none;
  }
  .navbar3 {
    display: none;
  }
  .navbar4 {
    display: none;
  }
  .navbar5 {
    display: none;
  }
  .navbar6 {
    display: none;
  }
  .navbar7 {
    display: none;
  }
  .navbar8 {
    display: none;
  }
}
@media only screen and (min-width: 1430px)and (max-width: 1540px){
  .navbar2 {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar4 {
    display: none;
  }
  .navbar5 {
    display: none;
  }
  .navbar6 {
    display: none;
  }
  .navbar7 {
    display: none;
  }
  .navbar8 {
    display: none;
  }
   
}

@media only screen and (min-width: 1330px)and (max-width: 1430px){
  .navbar2 {
    display: none;
  }
  .navbar3 {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar5 {
    display: none;
  }
  .navbar6 {
    display: none;
  }
  .navbar7 {
    display: none;
  }
  .navbar8 {
    display: none;
  }
   
}


@media only screen and (min-width: 1180px)and (max-width: 1330px){
  .navbar2 {
    display: none;
  }
  .navbar3 {
    display: none;
  }
  .navbar4 {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar6 {
    display: none;
  }
  .navbar7 {
    display: none;
  }
  .navbar8 {
    display: none;
  }
   
}


@media only screen and (min-width: 980px)and (max-width: 1180px){
  .navbar2 {
    display: none;
  }
  .navbar3 {
    display: none;
  }
  .navbar4 {
    display: none;
  }
  .navbar5 {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar7 {
    display: none;
  }
  .navbar8 {
    display: none;
  }
   
}


@media only screen and (min-width: 860px)and (max-width: 980px){
  .navbar2 {
    display: none;
  }
  .navbar3 {
    display: none;
  }
  .navbar4 {
    display: none;
  }
  .navbar5 {
    display: none;
  }
  .navbar6 {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar8 {
    display: none;
  }
   
}


@media only screen and (min-width: 670px)and (max-width: 860px){
  .navbar2 {
    display: none;
  }
  .navbar3 {
    display: none;
  }
  .navbar4 {
    display: none;
  }
  .navbar5 {
    display: none;
  }
  .navbar6 {
    display: none;
  }
  .navbar7 {
    display: none;
  }
  .navbar {
    display: none;
  }
   
}

.navbar > li > a, .dropbtn,.navbar2 > li > a,.navbar3 > li > a,.navbar4 > li > a,.navbar5 > li > a,.navbar6 > li > a, .dropbtn,.navbar7 > li > a,.navbar8 > li > a {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight:700 ;
}




.nav-item{
  list-style-type: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
   display: none;
  position: absolute;
  background-color:#4f474e;
  min-width: 1600px;
  margin-left: -100px;
  box-shadow: 0px 8px 16px 0px #4f474e;
  z-index: 2; 
  list-style-type: none;
}

.dropdown-content > li>a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style-type: none;
}

.dropdown-content > li>a:hover {
  border-left: 5px solid #ffffff;
  color: #ffffff;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-it{
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style-type: none;
  margin-left: -37px;
}

.nav-it:hover{
  border-left: 5px solid #ffffff;
  color: #ffffff;
  text-decoration: underline;
}

@media only screen and (max-width: 670px) {
  .nav {
    margin-left: -1000px; /* Hide navbar on small screens */
  }
  .nav2 {
    margin-left: 0px; /* Display sidebar on small screens */
  }
}



.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #4f474e;
  transition: all .5s ease;
}
.sidebar a{
  display: block;
  height: 40px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
.sidebar a.active{
  border-left: 5px solid #ffffff;
  color: #ffffff;
}
.sidebar a:hover{
  border-left: 5px solid #ffffff;
  color: #ffffff;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}










